
/* Header & Footer - Start */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hd1 hd3"
    "hd2 hd2";
  border-bottom: dotted;
  }

  #hd1 {
  grid-area: hd1;
  margin-left: 3%;
  }

  #hd2 {
    grid-area: hd2;
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    font-family: font-family: 'Roboto', sans-serif;
  }

  #hd3 {
    grid-area: hd3;
    text-align: right;
    margin-right: 3%;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }

    #ft1 {
      width: auto;
      margin: 1%;
      padding: 0;
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      color: white;
      font-size: 10pt;
    }
/* Header & Footer - End */
