<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <script src="https://kit.fontawesome.com/32bb5d651f.js" crossorigin="anonymous"></script>
      <title>Featured Blog Post</title>
      <link rel="stylesheet" href="css/blogpost.css"/>
  </head>
  <body>

    <div id="container">
      <header>
        <div class="item" id="h1">item 1</div>
        <div class="item" id="h2">item 2</div>
      </header>
      <main>
        <div class="item" id="m1">item 1</div>
        <div class="item" id="m2">item 2</div>
        <div class="item" id="m3">item 3</div>
      </main>
      <aside>
        <div class="item" id="a1">item 1</div>
        <div class="item" id="a1">item 2</div>
        <div class="item" id="a1">item 3</div>
      </aside>
      <footer>
        <div class="item" id="f1">item 1</div>
      </footer>
    </div>

  </body>
</html>
