
/* BLOGPOST LAYOUT */

body {
  height: 100vh;
}

header, main, aside, footer {
  border: 1px dashed;
}


/* Small Screens */
#container {
  display: grid;
  background-color: white;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 2fr 0.02fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  }

  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "hd1 hd3"
      "hd2 hd2";
  }

    #hd1 {
    grid-area: hd1;
    margin-left: 3%;
    }

    #hd2 {
      grid-area: hd2;
      text-align: center;
      margin-right: 3%;
      margin-left: 3%;
      font-family: font-family: 'Roboto', sans-serif;
    }

    #hd3 {
      grid-area: hd3;
      text-align: right;
      margin-right: 3%;
    }

    .fixed {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-color: white;
      opacity: 1;
    }

  main {
    grid-area: main;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.01fr 0.5fr;
    grid-template-areas:
      "image"
      "author"
      "text";
  }

    #mn1 {
      grid-area: image;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .feat-img {
      width: 75%;
      height: 75%;
    }

    #mn2 {
      grid-area: author;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      vertical-align: middle;
      padding-right: 5%;
      text-align: right;
      font-size: 75%;
    }

    #mn3 {
      grid-area: text;
      padding: 5%;
      padding-top: 0;
    }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }

    #ft1 {
      width: auto;
      margin: 1%;
      padding: 0;
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      color: white;
      font-size: 10pt;
    }


/* Medium Screens */
@media (min-width: 601px) and (max-width:900px) {
#container {
  display: grid;
  background-color: white;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 1.5fr 0.05fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  }

  main {
    grid-area: main;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas:
      "image author"
      "image text";
  }

    #mn1 {
      grid-area: image;
    }

    #mn2 {
      grid-area: author;
    }

    #m3 {
      grid-area: text;
    }
}


/* Large Screens */
@media (min-width:901px) {
#container {
  display: grid;
  background-color: white;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 2fr 0.05fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  }

  main {
    grid-area: main;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas:
      "image author"
      "image text";
  }

    #mn1 {
      grid-area: image;
    }

    #mn2 {
      grid-area: author;
    }

    #mn3 {
      grid-area: text;
    }
}
/* BLOGPOST LAYOUT END */


/* COMPONENTS: images, image captions, cards, buttons */
  /* Images */
img {
  width: 100%;
}

.avatar {
  vertical-align: middle;
  width: 25%;
  height: 25%;
  border-radius: 50%
}
  /* Image Captions */
.caption {
  color: grey;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 75%;
  padding: 0;
  margin: 0;
}


  /* Cards */
.card {
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 26px 26px 0 rgba(0,0,0,0.8);
}

.featured-card {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
}


  /* Buttons */
.button {
  text-decoration: none;
  text-align: center;
}
.button1 {
  background-color: inherit;

}

.button1:hover {
  color: black;
}

.button2 {
  background-color: white;
  color: black;
}

.button2:hover {
  background-color: black;
  color: white;
}


  /* Navigation & Links */
top-nav {
  text-decoration: none
}

top-nav ul {
  margin: 0;
}

top-nav ul li {
  display: inline-block;
  margin: 1%;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

  /* Typography */
html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: crimson;
  font-family: 'Oswald', sans-serif;
}

h1:hover {
  color: black;
}

h2, h3, h4, p {
  font-family: 'Raleway', sans-serif;
}

q {
  quotes: auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
/* COMPONENTS END */
