


/* Twitter Icon */

/* CSS Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    ". header header ."
    ". main main ."
    ". main main ."
    "footer footer footer footer";
}

.header {
  grid-area: header;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 3%;
  padding: 0;
}


#header1 {
  width: 30%
}

#header2 {
  width: 70%
}


.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "welcome welcome"
    "featured featured"
    "posts posts"
}

.footer {
  grid-area: footer;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: text-top;
}

/* Layout Sections */


/* Flexbox */
.flex-container {
  grid-area: welcome;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.flex-container-featured {
  grid-area: featured;
  display: flex;
  margin: 10%;
}

.flex-container-posts {
  grid-area: posts;
  display: flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-between;
}

.box-post {
  margin: 1%;
}


/* Position */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 1;
}

/* Components: images, image captions, card, buttons */
/* Images */
img {
  width: 100%;
}

.elipse-frame {
  border-radius: 80%;
}

/* Card */
.card {
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 26px 26px 0 rgba(0,0,0,0.8);
}

.card-text {

}


.featured-card {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
}


/* Navigation & Links */

top-nav {
  text-decoration: none
}

top-nav ul {
  margin: 0;
  text-align: right;
}

top-nav ul li {
  display: inline-block;
  margin: 1%;
}

foot-nav ul li {
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: inherit;
}


/* Buttons */
.button {
  text-decoration: none;
  text-align: center;
}
.button1 {
  background-color: inherit;
}

.button1:hover {
  color: black;
}

.button2 {
  background-color: white;
  color: black;
}

.button2:hover {
  background-color: black;
  color: white;
}


/* Typography */
h1 {
  color: crimson;
}

h1:hover {
  color: black;
}


h6 {
  font-size: 1em;
  padding: 0;
  margin-bottom: 0;
}

p {

}

.quote {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

/* Media Queries */
