


/* Twitter Icon */

/* CSS Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "header header header header"
    ". main main ."
    ". main main ."
    ". footer footer .";
}

.header {
  grid-area: header;
}

.side-nav {
  grid-area: side-nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Layout Sections */
header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: white;
  opacity: 1;
  border-bottom:
}

.push-left {
  margin-right: auto;
}

.push-right {
  margin-left: auto;
}

/* Flexbox */
.flex-container {
  display: flex;
  justify-content: space-around;
}



/* Position */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

/* Components: images, image captions, card, buttons */
/* Images */
img {
  width: 100%;
}

.elipse-frame {
  border-radius: 80%;
}

/* Card */
.card {
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 26px 26px 0 rgba(0,0,0,0.8);
}

.card-text {
  padding: 8px 12px;
}

.featured-card {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
}

.card-button {
  background-image: image();
  text-decoration: none;
  text-align: center;
  color: white;
}

/* Navigation & Links */
.top-nav {
  display: Flexbox;
  justify-content: space-around;
}

top-nav {
  color: black;
}

top-nav ul li {
  display: inline-block;
}

foot-nav ul li {
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: maroon;
}

a:hover {
  background: black;
  color: white;
}

a:active {
  background: white;
  border: 3px solid;
  border-color: black;
  color: black;
}

a2:link {
  text-decoration: none;
  color: black;
}

a2:hover {
  background: inherit;
  opacity; 0.6;
}

/* Buttons */
.button {
  text-decoration: none;
  text-align: center;
}
.button1 {
  background-color: inherit;
  text-align: center;
}

.button1:hover {
  opacity: 0.6;
  color: black;
}

.button2 {
  background-color: white;
  color: black;
  text-align: center;
}

.button2:hover {
  background-color: black;
  color: white;
}
/* Typography */
h1 {
  color: crimson;
}

p1 {
  color: maroon;
}

p {
  color: black;
}


/* Media Queries */
