
@import "headerfooter.css";
@import "homepage.css";
@import "blogpost.css";


/* ALL PAGES STYLE - START */

/* Components - Start */
/* images, image captions, cards, buttons */

/* Images */
img {
  width: 100%;
}


/* Image Captions */
.caption {
color: grey;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 75%;
padding: 0;
margin: 0;
}


/* Cards */
.card {
  padding: 10px;
  margin: 5%;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 26px 26px 0 rgba(0,0,0,0.8);
}


/* Buttons */
.button {
  text-decoration: none;
  text-align: center;
}

.button1 {
  background-color: inherit;
}

.button1:hover {
  color: black;
}

.button2 {
  background-color: white;
  color: black;
}

.button2:hover {
  background-color: black;
  color: white;
}


/* Navigation & Links */
top-nav {
  text-decoration: none
}

top-nav ul {
  margin: 0;
}

top-nav ul li {
  display: inline-block;
  margin: 1%;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}


/* Typography */
html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: crimson;
  font-family: 'Oswald', sans-serif;
}

h1:hover {
  color: black;
}

h2, h3, h4, p {
  font-family: 'Raleway', sans-serif;
}

q {
  quotes: auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
/* Components - End */

/* ALL PAGES STYLE - END */
